# general things to ignore
/.tscache
/.idea
/build/
/dist/tsBuildInfoFile
/dist_python/
*.egg-info/
*.egg
*.py[cod]
__pycache__/
*.so
*~
*.log
*.pot
*.pyc
*.swp
*.lock
# due to using tox and pytest
.tox
.cache
node_modules/
/src/**/*.js
/src/**/*.map
/tests/**/*.js
*.css
/.cache-loader
package-lock.json
*:Zone.Identifier/dist/
/dist


# yarn
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# venv
.venv/
