<form class="form-signin">
  
  <div class="form-group">
    <label class="control-label" for="login_username">Username</label>
    <!-- <input type="text" class="form-control" id="login_username" placeholder="User name" required="required" autocomplete="username" autofocus="autofocus"> -->
    <input type="text" class="form-control" id="login_username" placeholder="User name" required="required"
    autofocus="autofocus" />
    </div>

    <div class="form-group"> 
      <label class="control-label" for="login_password">Password</label> 
      <input type="password" class="form-control" id="login_password" placeholder="Password" required="required" />
      <!-- <input type="text" class="form-control" id="logi n_password" placeholder="Password" required="required" autocomplete="current-password"> -->
  </div>


  <div class="checkbox">
    <label>
      <input type="checkbox" value="1" id="accept_genie_terms" required="required"> Coral contains various data sets,
      including data from
      <a href="https://www.aacr.org/professionals/research/aacr-project-genie/" target="_blank"
        rel="noopener noreferrer">AACR Project GENIE</a>.
      By logging into Coral you confirm that you will adhere to the
      <a href="http://data.caleydo.org/app_data/GSOP-3_AACRProjectGENIETermsofUse.pdf" target="_blank"
        rel="noopener noreferrer">AACR Project GENIE Terms of Access</a>
      when using the AACR Project GENIE data.
    </label>
  </div>

  <div class="checkbox">
    <label>
      <input type="checkbox" value="remember-me" id="login_remember"> Remember me
    </label>
  </div>

  <button class="btn btn btn-primary btn-block" type="submit">Login</button>
</form>