<div class="task-view-search">
  <div class="header">
    <div class="search-bar"></div>
  </div>

  <div class="content">
    <div class="task-selector">
      <div class="tasks-header">
        Continue by Choosing an Operation
      </div>
      <p>For more details about the operations, move your mouse over the respective button.</p>
      <div class="tasks">
        <div class="task-list-header">
          Create Cohorts <span class="info">(with output)</span>
        </div>
        <div class="task-list">
          <div class="task btn-coral disabled dual filter"
            title="See attribute distributions and filter or split the data.">
            <div>
              <div class="task-icon">
                <i class="fas fa-chart-bar" aria-hidden="true"></i>
              </div>
              <div class="task-label">View</div>
            </div>
            <div>
              <div class="task-icon">
                <i class="fas fa-filter" aria-hidden="true"></i>
              </div>
              <div class="task-label">Filter & Split</div>
            </div>
          </div>
          <!-- <div class="task disabled merge" title="Combine multiple cohorts into one. Requires at least two cohorts.">
            <div class="task-icon">
              <i class="fas fa-share-alt" aria-hidden="true"></i>
            </div>
            <div class="task-label">Combine</div>
          </div> -->
        </div>

        <div class="task-list-header">
          Characterize Cohorts <span class="info">(without output)</span>
        </div>
        <div class="task-list">
          <div class="task btn-coral disabled prevalence" title="Determine the prevalence of cohorts.">
            <div class="task-icon">
              <i class="fas fa-percent" aria-hidden="true"></i>
            </div>
            <div class="task-label">Prevalence</div>
          </div>
          <div class="task btn-coral disabled details"
            title="Inspect the individual items of your cohorts and their values.">
            <div class="task-icon">
              <i class="fas fa-table" aria-hidden="true"></i>
            </div>
            <div class="task-label">Inspect Items</div>
          </div>
          <div class="task btn-coral disabled compare" title="Compare cohorts statistically.">
            <div class="task-icon">
              <i class="fas fa-balance-scale" aria-hidden="true"></i>
            </div>
            <div class="task-label">Compare</div>
          </div>
          <!-- <div class="task disabled characterize" title="Characterize cohorts based on a set of attributes.">
            <div class="task-icon">
              <i class="far fa-address-card" aria-hidden="true"></i>
            </div>
            <div class="task-label">Characterize</div>
          </div> -->
        </div>
      </div>
    </div>
    <div class="task-container"></div>
  </div>
</div>