.characterize-container {
  $border-radius: 0.2em;

  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto minmax(500px, 1fr);
  row-gap: 1em;

.cht-icon {
    width: 1.5em;
    height: 1em;
    border-radius: $border-radius;
    opacity: 0.8;
    display: inline-block;
    
    &.up {
      transform: translate(0, -0.25em);
    }

    &.left.down { // transformations don't stack, so combine into one rule
      transform: translate(-0.75em, 0.25em);
    }
  }

  .cht-overlap {
    display: inline-flex;
    flex-direction: column;
    row-gap: 1px;
    width: 50%;
  }

  .cht-bar {
    height: 0.5em;
    border-radius: $border-radius;
  }

  h1 {
    font-size: 1.1em;
  }

  .classifier-result {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
  }
}