.characterize-container {
  $border-radius: 0.2em;

  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1em;

.cht-icon {
    width: 1.5em;
    height: 1em;
    border-radius: $border-radius;
    opacity: 0.8;
    display: inline-block;
    
    &.up {
      transform: translate(0, -0.25em);
    }

    &.left.down { // transformations don't stack, so combine into one rule
      transform: translate(-0.75em, 0.25em);
    }
  }

  .cht-overlap {
    display: inline-flex;
    flex-direction: column;
    row-gap: 1px;
    width: 50%;
  }

  .cht-bar {
    height: 0.5em;
    border-radius: $border-radius;
  }
  .cht-bar-label {
    font-weight: 500;
  }

  h1 {
    font-size: 1.2em;
  }

  h2 {
    font-size: 1.1em;
  }

  .classifier-result, .probabilities {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    column-gap: 1em;

    &.probabilities {
      grid-template-columns: 1fr 1fr;
    }
  }

  .center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .resizeable {
    flex-grow: 1;
    flex-shrink: 1;

    &.filled {
      flex-basis: 25em;
    }
  }

  .separator-left {
    border-left: 1px solid $color-background-darker;
  }

  .progress-wrapper {
    border-left: 1px solid $color-background-darker;
  }
}