.coral-hero {
  background-color: $gray-800;
  // background pattern from https://app.haikei.app/ > stacked waves
  // encoded for background-image url with https://yoksel.github.io/url-encoder/ 
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 1900 720' width='1900' height='720' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1'%3E%3Cpath d='M0 64L28.8 71C57.7 78 115.3 92 172.8 94.3C230.3 96.7 287.7 87.3 345.2 79.2C402.7 71 460.3 64 518 68.7C575.7 73.3 633.3 89.7 691 92C748.7 94.3 806.3 82.7 863.8 82.7C921.3 82.7 978.7 94.3 1036.2 97.8C1093.7 101.3 1151.3 96.7 1209 88.5C1266.7 80.3 1324.3 68.7 1382 64C1439.7 59.3 1497.3 61.7 1554.8 61.7C1612.3 61.7 1669.7 59.3 1727.2 65.2C1784.7 71 1842.3 85 1871.2 92L1900 99L1900 0L1871.2 0C1842.3 0 1784.7 0 1727.2 0C1669.7 0 1612.3 0 1554.8 0C1497.3 0 1439.7 0 1382 0C1324.3 0 1266.7 0 1209 0C1151.3 0 1093.7 0 1036.2 0C978.7 0 921.3 0 863.8 0C806.3 0 748.7 0 691 0C633.3 0 575.7 0 518 0C460.3 0 402.7 0 345.2 0C287.7 0 230.3 0 172.8 0C115.3 0 57.7 0 28.8 0L0 0Z' fill='%23006192'%3E%3C/path%3E%3Cpath d='M0 92L28.8 103.7C57.7 115.3 115.3 138.7 172.8 144.5C230.3 150.3 287.7 138.7 345.2 127C402.7 115.3 460.3 103.7 518 110.7C575.7 117.7 633.3 143.3 691 146.8C748.7 150.3 806.3 131.7 863.8 131.7C921.3 131.7 978.7 150.3 1036.2 156.2C1093.7 162 1151.3 155 1209 145.7C1266.7 136.3 1324.3 124.7 1382 117.7C1439.7 110.7 1497.3 108.3 1554.8 109.5C1612.3 110.7 1669.7 115.3 1727.2 122.3C1784.7 129.3 1842.3 138.7 1871.2 143.3L1900 148L1900 97L1871.2 90C1842.3 83 1784.7 69 1727.2 63.2C1669.7 57.3 1612.3 59.7 1554.8 59.7C1497.3 59.7 1439.7 57.3 1382 62C1324.3 66.7 1266.7 78.3 1209 86.5C1151.3 94.7 1093.7 99.3 1036.2 95.8C978.7 92.3 921.3 80.7 863.8 80.7C806.3 80.7 748.7 92.3 691 90C633.3 87.7 575.7 71.3 518 66.7C460.3 62 402.7 69 345.2 77.2C287.7 85.3 230.3 94.7 172.8 92.3C115.3 90 57.7 76 28.8 69L0 62Z' fill='%23006ca4'%3E%3C/path%3E%3Cpath d='M0 141L28.8 158.5C57.7 176 115.3 211 172.8 222.7C230.3 234.3 287.7 222.7 345.2 204C402.7 185.3 460.3 159.7 518 159.7C575.7 159.7 633.3 185.3 691 190C748.7 194.7 806.3 178.3 863.8 178.3C921.3 178.3 978.7 194.7 1036.2 201.7C1093.7 208.7 1151.3 206.3 1209 201.7C1266.7 197 1324.3 190 1382 186.5C1439.7 183 1497.3 183 1554.8 185.3C1612.3 187.7 1669.7 192.3 1727.2 197C1784.7 201.7 1842.3 206.3 1871.2 208.7L1900 211L1900 146L1871.2 141.3C1842.3 136.7 1784.7 127.3 1727.2 120.3C1669.7 113.3 1612.3 108.7 1554.8 107.5C1497.3 106.3 1439.7 108.7 1382 115.7C1324.3 122.7 1266.7 134.3 1209 143.7C1151.3 153 1093.7 160 1036.2 154.2C978.7 148.3 921.3 129.7 863.8 129.7C806.3 129.7 748.7 148.3 691 144.8C633.3 141.3 575.7 115.7 518 108.7C460.3 101.7 402.7 113.3 345.2 125C287.7 136.7 230.3 148.3 172.8 142.5C115.3 136.7 57.7 113.3 28.8 101.7L0 90Z' fill='%230078b6'%3E%3C/path%3E%3Cpath d='M0 204L28.8 216.8C57.7 229.7 115.3 255.3 172.8 264.7C230.3 274 287.7 267 345.2 249.5C402.7 232 460.3 204 518 204C575.7 204 633.3 232 691 235.5C748.7 239 806.3 218 863.8 214.5C921.3 211 978.7 225 1036.2 236.7C1093.7 248.3 1151.3 257.7 1209 253C1266.7 248.3 1324.3 229.7 1382 222.7C1439.7 215.7 1497.3 220.3 1554.8 226.2C1612.3 232 1669.7 239 1727.2 247.2C1784.7 255.3 1842.3 264.7 1871.2 269.3L1900 274L1900 209L1871.2 206.7C1842.3 204.3 1784.7 199.7 1727.2 195C1669.7 190.3 1612.3 185.7 1554.8 183.3C1497.3 181 1439.7 181 1382 184.5C1324.3 188 1266.7 195 1209 199.7C1151.3 204.3 1093.7 206.7 1036.2 199.7C978.7 192.7 921.3 176.3 863.8 176.3C806.3 176.3 748.7 192.7 691 188C633.3 183.3 575.7 157.7 518 157.7C460.3 157.7 402.7 183.3 345.2 202C287.7 220.7 230.3 232.3 172.8 220.7C115.3 209 57.7 174 28.8 156.5L0 139Z' fill='%230084c8'%3E%3C/path%3E%3Cpath d='M0 421L28.8 421C57.7 421 115.3 421 172.8 423.3C230.3 425.7 287.7 430.3 345.2 416.3C402.7 402.3 460.3 369.7 518 361.5C575.7 353.3 633.3 369.7 691 373.2C748.7 376.7 806.3 367.3 863.8 365C921.3 362.7 978.7 367.3 1036.2 376.7C1093.7 386 1151.3 400 1209 404.7C1266.7 409.3 1324.3 404.7 1382 388.3C1439.7 372 1497.3 344 1554.8 346.3C1612.3 348.7 1669.7 381.3 1727.2 398.8C1784.7 416.3 1842.3 418.7 1871.2 419.8L1900 421L1900 272L1871.2 267.3C1842.3 262.7 1784.7 253.3 1727.2 245.2C1669.7 237 1612.3 230 1554.8 224.2C1497.3 218.3 1439.7 213.7 1382 220.7C1324.3 227.7 1266.7 246.3 1209 251C1151.3 255.7 1093.7 246.3 1036.2 234.7C978.7 223 921.3 209 863.8 212.5C806.3 216 748.7 237 691 233.5C633.3 230 575.7 202 518 202C460.3 202 402.7 230 345.2 247.5C287.7 265 230.3 272 172.8 262.7C115.3 253.3 57.7 227.7 28.8 214.8L0 202Z' fill='%23278fce'%3E%3C/path%3E%3Cpath d='M0 519L28.8 517.8C57.7 516.7 115.3 514.3 172.8 517.8C230.3 521.3 287.7 530.7 345.2 524.8C402.7 519 460.3 498 518 481.7C575.7 465.3 633.3 453.7 691 456C748.7 458.3 806.3 474.7 863.8 484C921.3 493.3 978.7 495.7 1036.2 502.7C1093.7 509.7 1151.3 521.3 1209 523.7C1266.7 526 1324.3 519 1382 499.2C1439.7 479.3 1497.3 446.7 1554.8 452.5C1612.3 458.3 1669.7 502.7 1727.2 519C1784.7 535.3 1842.3 523.7 1871.2 517.8L1900 512L1900 419L1871.2 417.8C1842.3 416.7 1784.7 414.3 1727.2 396.8C1669.7 379.3 1612.3 346.7 1554.8 344.3C1497.3 342 1439.7 370 1382 386.3C1324.3 402.7 1266.7 407.3 1209 402.7C1151.3 398 1093.7 384 1036.2 374.7C978.7 365.3 921.3 360.7 863.8 363C806.3 365.3 748.7 374.7 691 371.2C633.3 367.7 575.7 351.3 518 359.5C460.3 367.7 402.7 400.3 345.2 414.3C287.7 428.3 230.3 423.7 172.8 421.3C115.3 419 57.7 419 28.8 419L0 419Z' fill='%233d99d4'%3E%3C/path%3E%3Cpath d='M0 666L28.8 666C57.7 666 115.3 666 172.8 660.2C230.3 654.3 287.7 642.7 345.2 641.5C402.7 640.3 460.3 649.7 518 654.3C575.7 659 633.3 659 691 659C748.7 659 806.3 659 863.8 655.5C921.3 652 978.7 645 1036.2 643.8C1093.7 642.7 1151.3 647.3 1209 647.3C1266.7 647.3 1324.3 642.7 1382 639.2C1439.7 635.7 1497.3 633.3 1554.8 635.7C1612.3 638 1669.7 645 1727.2 646.2C1784.7 647.3 1842.3 642.7 1871.2 640.3L1900 638L1900 510L1871.2 515.8C1842.3 521.7 1784.7 533.3 1727.2 517C1669.7 500.7 1612.3 456.3 1554.8 450.5C1497.3 444.7 1439.7 477.3 1382 497.2C1324.3 517 1266.7 524 1209 521.7C1151.3 519.3 1093.7 507.7 1036.2 500.7C978.7 493.7 921.3 491.3 863.8 482C806.3 472.7 748.7 456.3 691 454C633.3 451.7 575.7 463.3 518 479.7C460.3 496 402.7 517 345.2 522.8C287.7 528.7 230.3 519.3 172.8 515.8C115.3 512.3 57.7 514.7 28.8 515.8L0 517Z' fill='%234fa4da'%3E%3C/path%3E%3Cpath d='M0 701L28.8 701C57.7 701 115.3 701 172.8 701C230.3 701 287.7 701 345.2 701C402.7 701 460.3 701 518 701C575.7 701 633.3 701 691 701C748.7 701 806.3 701 863.8 701C921.3 701 978.7 701 1036.2 701C1093.7 701 1151.3 701 1209 701C1266.7 701 1324.3 701 1382 701C1439.7 701 1497.3 701 1554.8 701C1612.3 701 1669.7 701 1727.2 701C1784.7 701 1842.3 701 1871.2 701L1900 701L1900 636L1871.2 638.3C1842.3 640.7 1784.7 645.3 1727.2 644.2C1669.7 643 1612.3 636 1554.8 633.7C1497.3 631.3 1439.7 633.7 1382 637.2C1324.3 640.7 1266.7 645.3 1209 645.3C1151.3 645.3 1093.7 640.7 1036.2 641.8C978.7 643 921.3 650 863.8 653.5C806.3 657 748.7 657 691 657C633.3 657 575.7 657 518 652.3C460.3 647.7 402.7 638.3 345.2 639.5C287.7 640.7 230.3 652.3 172.8 658.2C115.3 664 57.7 664 28.8 664L0 664Z' fill='%234fa4da'%3E%3C/path%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  color: $gray-100;
  position: relative;

  &::before {
    content: '';
    display: block;
    box-shadow: 0 -9px 8px 0 rgba(0,0,0,0.11); // cast shadow from the element following the hero onto the hero itself
    position: absolute;
    bottom: -10px;
    height: 10px;
    width: 100%;
    z-index: 1;
  }

  .coral-hero-claim {
    font-size: 1.5rem;
  }

  .coral-hero-actions {
    button,
    a {
      color: $gray-100;
      text-decoration: none;
      font-size: 1.5rem;

      i {
        border: 2px solid $gray-100;
        border-radius: 50%;
        width: 2.1rem;
        height: 2.1rem;
        font-size: 1rem;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        margin-right: 0.6rem;
        position: relative;
        top: -0.2rem;
      }

      &:hover {
        color: $ordino-white-hover;
      }

      &:hover > i {
        color: $ordino-white-hover;
        border-color: $ordino-white-hover;
      }

      &:focus {
        color: $ordino-white-hover;
        box-shadow: 0 0 0 0.1rem shift-color($gray-100, -50%);
      }
    }
  }

  .coral-hero-image {
    height: clamp(200px, 25vw, 400px);
    overflow: hidden;

    img {
      width: 100%;
    }
  }
}

.coral-intro-video-modal {
  max-width: 1310px; // video width 1280 px + margin 30 px
}
